@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body{
    background-color: rgb(4, 44, 44);
    color:white;
}

#clock-body{
    width:60%;
    margin: auto;
    padding: 3rem;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

#time-display{
    font-size: 2.5rem;
    /* border: 3px solid teal; */
    width:50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#timer-label{
    border-bottom: 2px solid teal;
    width:70%;
    margin:auto;
    padding:1rem;

}

h1{
    text-align: center;
}

#labels{
    display:flex;
    justify-content: space-around;
}

.fa-pause, .fa-play, .fa-redo, .fa-arrow-down, .fa-arrow-up{
    cursor: pointer;
}

#interval-controls{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#controls{
    width:50%;
    margin:auto;
    padding: 1.5rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
}